* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #fffcfc;
}

header {
  background-color: #1a1363;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.name {
  color: white;
  padding-left: 20px;
  font-size: 13px;
}

.hamburger-menu {
  width: 20px;
  height: 13px;
}

nav {
  display: flex;
  gap: 50px;
}
nav a {
  color: white;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: #00d4ff;
}
input {
  display: none;
}
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 100px;
    background-color: #1a1363;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
  }
  nav a:nth-child(1) {
    margin-top: 50px;
  }
  label {
    border: none;
    width: 20px;
    height: 13px;
    position: relative;
    margin-right: 20px;
  }
  label div {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    border-radius: 100px;
    transition: 0.5s;
  }
  label div:nth-child(1) {
    top: 0;
  }
  label div:nth-child(2) {
    top: 50%;
  }
  label div:nth-child(3) {
    top: 100%;
  }
  input:checked + header nav {
    height: 100vh;
  }
  input:checked + header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  input:checked + header label div:nth-child(2) {
    transform: scale(0);
  }
  input:checked + header label div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
}
main {
  padding: auto;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .description {
    display: none;
  }
}
@media (min-width: 768px) {
  .viewprojects {
    cursor: pointer;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.intro h1 {
  color: #1a1363;
  font-size: 35px;
  text-align: center;
}
.intro p {
  color: #1a1363;
  font-size: 20px;
  text-align: left;
  display: flex;
}
.container2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.intro2 {
  padding: 40px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  border-radius: 30px;
  text-align: start;
  margin-bottom: 10px;
  transition: background 1.1s;
}
.intro2 p {
  color: #5b8bdf;
  font-size: 28px;
  font-weight: 500;
  text-align: start;
  padding-bottom: 40px;
  display: flex;
}
.description {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.description span {
  display: none;
}
.viewprojects {
  background-color: #5e17eb;
  color: white;
  width: 375px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.viewprojects:hover {
  background-color: #5b8bdf;
  color: black;
  transition: 0.8s;
}
.contactme {
  background-color: white;
  color: #00d4ff;
  border-color: #00d4ff;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.contactme:hover {
  background-color: #5b8bdf;
  color: black;
  transition: 0.8s;
  border: none;
}

img {
  align-items: center;
  height: 270px;
  width: 375px;
  border-radius: 18px;
  object-fit: fill;
}

section {
  background-color: #fffcfc;
}
.projects h2 {
  text-align: center;
  padding-top: 45px;
  font-size: 30px;
  color: #1a1363;
}
